<div class="container">
    <h1 class="display-3">About the Angular App</h1>
    <hr class="my-4">
    <h2 class="display-6 my-3">To-Do List App</h2>
    <p class="display-16">A user-friendly task management application built using the Angular framework that allows users to create, update, and delete tasks they need to complete. The app provides an organized interface to list tasks, along with features like task prioritization, due dates, and status updates. With its responsive design and intuitive user experience, the Angular Todo List app streamlines task tracking and helps users stay organized and productive.</p>
    <a class="btn btn-primary btn-lg" routerLink="/" role="button">Go back</a>
</div> 